
<%-include('./includes/header.ejs') %>
<%-include('./includes/navbar.ejs') %>

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-items set-bg" data-setbg="img/Untitled.png">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>lip Stick</span>
                            <h1>Dark Pink</h1>
                            <p>Made of the special bug that gives the outlasting glow to your lips</p>
                            <a href="/shop" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <!-- <div class="off-card">
                        <h2>Sale <span></span></h2>
                    </div> -->
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="img/makeup-banner.png">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Make-Up Kit</span>
                            <h1>All set for Make-up</h1>
                            <p>All the required items are in this package included with the exclusive price on it.</p>
                            <a href="/shop" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <!-- <div class="off-card">
                         <h2>Sale <span>50%</span></h2> 
                    </div> -->
                </div>
            </div>
        </div>


        <!-- benifit of zwho cosmatics -->

        

        <div class="container" style="margin-top: 80px;">
            <!-- about section -->
            <div class="header text-center mb-4">
                <h2> About Us </h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="img/johoCosmatic (1).png" alt="">
                </div>

                <div class="col-md-6" style="text-align: justify;">
                    <p class="para" style=" max-height: 230px; min-width: 230px; overflow: hidden;">
                       <strong> Zuwacosmetics </strong>  <br>
                       Located in the heart of Kathmandu, Zuwacosmetics is a local gem in
                        the world of beauty. With a commitment to authenticity, this shop offers a curated
                        selection of cosmetics that aims to leave a lasting impression on its consumers. While
                        deeply rooted in the traditional offline market, Zuwacosmetics recognizes the value of
                        local products, showcasing them with attractive discounts and offers periodically. The
                        shop's philosophy is simple: provide genuine, high-quality products that resonate with
                        the local community. Understanding the limitations and challenges of a physical store,
                        Zuwacosmetics is keen on harnessing the vast potential of the online marketplace to
                        further its reach and elevate its brand, ensuring a wider audience can access and enjoy its
                        unique product range.
                        
                    </p>
                    <span class="d-flex justify-content-end mt-3">
                        <a  href="/about" class="primary-btn">read More</a>
                    </span>
                </div>
            </div>
               
        </div>

        <!-- services -->

        <div class="benefit-items mb-5" style="margin-top:80px">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-benefit d-flex justify-content-center">
                        <div class="sb-icon">
                            <img src="img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Free Shipping</h6>
                            <p>Order over Rs.1000</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit d-flex justify-content-center">
                        <div class="sb-icon">
                            <img src="img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Delivery On Time</h6>
                            <p>If good have prolems</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit d-flex justify-content-center">
                        <div class="sb-icon">
                            <img src="img/icon-2.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Customer Care</h6>
                            <p>24/7 Avilability</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- women beauty -->

        <section class="women-banner spad" style="margin-top:80px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="product-large set-bg" data-setbg="img/products/women-large.jpg">
                            <h2>Shopping</h2>
                            <a href="/shop">Discover More</a>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-1">
                        <div class="filter-control">
                            <ul>
                                <li> Treatment </li>
                                <li> lipstics </li>
                                <li> Nail Polish </li>
                            </ul>
                        </div>
                        <div class="product-slider owl-carousel">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="img/antiAligia.jpg" alt="">
                                    <!-- <div class="sale">Sale</div> -->
                                    <div class="icon">
                                        <!-- <i class="icon_heart_alt"></i> -->
                                    </div>
                                    <!-- <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view"><a href="#">+ Quick View</a></li>
                                        <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                    </ul> -->
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name"> Skin Care</div>
                                    <a href="#">
                                        <h5> Anti Aligia facial </h5>
                                    </a>
                                    <div class="product-price">
                                        Rs.&nbsp;1800
                                        <!-- <span>$35.00</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="img/hydraMiast.jpg" alt="">
                                    <div class="icon">
                                        <!-- <i class="icon_heart_alt"></i> -->
                                    </div>
                                    <!-- <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view"><a href="#">+ Quick View</a></li>
                                        <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                    </ul> -->
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">Skin Care</div>
                                    <a href="#">
                                        <h5>Hydra Misat skin care</h5>
                                    </a>
                                    <div class="product-price">
                                    Rs. &nbsp; 2000
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="img/skinSoftner.jpg" alt="">
                                    <div class="icon">
                                        <!-- <i class="icon_heart_alt"></i> -->
                                    </div>
                                    <!-- <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view"><a href="#">+ Quick View</a></li>
                                        <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                    </ul> -->
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">Skin Care</div>
                                    <a href="#">
                                        <h5>Skin Softner</h5>
                                    </a>
                                    <div class="product-price">
                                        Rs. &nbsp; 1200
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="img/8-2-makeup-kit-products-free-png-image.png" alt="">
                                    <div class="icon">
                                        <!-- <i class="icon_heart_alt"></i> -->
                                    </div>
                                    <!-- <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view"><a href="#">+ Quick View</a></li>
                                        <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                    </ul> -->
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">Make Up</div>
                                    <a href="#">
                                        <h5>Makeup kit</h5>
                                    </a>
                                    <div class="product-price">
                                        Rs. &nbsp; 3000
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- instagram post -->

       

         <!-- Instagram Section Begin -->
    <div class="instagram-photo mt-4">
        <div class="insta-item set-bg" data-setbg="img/antiAligia.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="https://www.instagram.com/p/CwweTgavrl9/"> Anti Aligia </a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/hydraMiast.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="https://www.instagram.com/p/CwPDbf3yBf6/?img_index=1">Hydra Miast</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/skinSoftner.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="https://www.instagram.com/p/Cv1CKrsynf0/?img_index=1">Skin Smoothner </a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/lighntiningShop.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="https://www.instagram.com/p/Cvt7RheOhVU/">Lightining Soap </a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-5.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">Zuwacosmetics</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" data-setbg="img/insta-6.jpg">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">Zuwacosmetics</a></h5>
            </div>
        </div>
    </div>
        
    <!-- contact Us --> 
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-title">
                        <h4>Contacts Us</h4>
                        <p>For any further inquery of any product you can contact us at any time and we are ready to help you. 
                            what pleases customer pleases us.
                        </p>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="ci-text">
                                <span>Address:</span>
                                <p>Kathmandu, Nepal</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <span>Phone:</span>
                                <p>+977982173217</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="ci-text">
                                <span>Email:</span>
                                <p>Zuwacosmetics@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="contact-form">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7064.672510071941!2d85.2861343646507!3d27.70690242764552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb188acea75feb%3A0x81f489e555b60bfe!2sP74R%2BQV8%2C%20Kathmandu%2044600!5e0!3m2!1sen!2snp!4v1694762382817!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- partner  -->

    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>
    <!-- Hero Section End -->

    <%-include('./includes/footer.ejs') %>


